{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>

<head>
    <title>Ecom</title>

    <!-- Use one consistent version of Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" type="text/css" href="{% static 'Homepage/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_star_rating.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}" />


</head>

<body>
    {% bootstrap_messages %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse-navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="{% url 'Homepage:Home' %}">Home</a>
            <a class="nav-link" href="{% url 'i:MonitorListView' %}" style="color: aliceblue;">Monitor <span
                    class="sr-only">(current)</span></a>
            <a class="nav-link" href="{% url 'book_:book_list_filters' %}" style="color: aliceblue;">Books <span
                    class="sr-only">(current)</span></a>
            <a class="navbar-link" href="{% url 'blog:post_list' %}" style="color: aliceblue;">Blog<span
                    class="sr-only">(current)</span></a>
            <a class="navbar-link" href="{% url 'cv_api:cv_view' %}"
                style="color: aliceblue; padding-left:21px;">CV_API<span class="sr-only">(current)</span></a>
        </div>

        <div class="multi-drop-down-with-search">
            <div class="multi-dropdown">
                <a class="nav-link dropdown-toggle" id="category" href="#" data-bs-toggle="dropdown"> Category </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#"> Books </a></li>
                    <li><a class="dropdown-item" href="#"> Computer &raquo;</a>
                        <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" href="#">Monitors</a>
                            <li><a class="dropdown-item" href="#">Laptop Accessories</a></li>
                            <li><a class="dropdown-item" href="#">Servers</a></li>
                            <li><a class="dropdown-item" href="#">Computer and Tablets</a></li>
                            <li><a class="dropdown-item" href="#">Tablets Replacement Parts &raquo;</a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Laptops</a></li>
                                    <li><a class="dropdown-item" href="#">Desktops</a></li>
                                    <li><a class="dropdown-item" href="#">Tablets</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="search" value="search"
                    id="example-search-input" />
            </div>
        </div>

        <div class="form-inline">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sign-Up / Login / Profile
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'Homepage:login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:signup' %}">Sign-up</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:logout' %}">Sign-Out</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:customer_profile_page' %}">Customer</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:seller_profile_page' %}">Seller</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:csr_profile_page' %}">Customer Service
                            Representative</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:manager_profile_page' %}">Manager</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:admin_profile_page' %}">Administrator</a></li>
                    <li><a class="dropdown-item" href="{% url 'Homepage:delete' %}">Delete Account</a></li>
                </ul>
            </div>
        </div>

        <div class="cart-class">
            <div class="cart-total">{{ request.session.cart_items|length }}</div>
            <div class="cart-icon">
                <a href="{% url 'cart:cart_view' %}">
                    <img src="https://res.cloudinary.com/dh8vfw5u0/image/upload/cart_50_50" />
                </a>
            </div>
        </div>
    </nav>

    <!-- Other content -->

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNl9xzB4U/4u0+5G/Spm29htjWEe7CDfQ+Mlu6OZ7KBIibnL6flGLRAfB1J/R3X"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-c3g1XQpj4w4cZEnw7Ib6XQaUlTz52FSI5POAe0b+rxAcmWpg+9hr6h2gJL1O14HQ"
        crossorigin="anonymous"></script>
</body>

</html>


<div class="container">
    <br />
    {% block content %} {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


<script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
</body>

</html>